.login-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 80vh;
    overflow: hidden;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--login-bg-color);
    width: 45%;
    padding: 80px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-title {
    font-family: var(--font-def);
    color: #fff;
    min-width: 10rem;
    font-size: 1.2rem;
}

.login-title span {
    color: var(--purple-color);
}

.login-picture {
    width: 55%;
    background-color: var(--purple-color);
}

.forgot-password {
    cursor: pointer;
    font-size: 0.8rem;
    margin: 1rem 0 2rem 0;
}

.switch-register {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.switch-register a {
    background-color: var(--gray-color);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.switch-register a:hover {
    background-color: var(--purple-color);
}