.login-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 80vh;
    background-color: red;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--login-bg-color);
    width: 45%;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-title {
    font-family: var(--font-def);
    color: #fff;
    min-width: 10rem;
    font-size: 2rem;
    margin: 0 auto;
}

.login-picture {
    width: 55%;
    background-color: var(--purple-color);
}