.login-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    height: 80vh;
    overflow: hidden;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--login-bg-color);
    width: 45%;
    padding: 80px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-title {
    font-family: var(--font-def);
    color: #fff;
    min-width: 10rem;
    font-size: 2rem;
}

.login-picture {
    width: 55%;
    background-color: var(--purple-color);
}

.forgot-password{
    cursor: pointer;
    font-size: 0.8rem;
}