.register-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: auto;
  overflow: hidden;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--login-bg-color);
  width: 45%;
  padding: 10px 60px;
}

.register-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}



.register-right {
  width: 55%;
  background-color: var(--purple-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.register-picture {
  width: 75%;
}

.switch-register {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* Responsive register */

@media screen and (max-width: 1200px) {
  .register-form {
    padding: 40px;
  }

  .register-title {
    font-size: 1rem;
  }

  .register-container {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .register-container {
    width: 85%;
  }

  .register-form {
    padding: 30px;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .register-container {
    width: 95%;
  }

  .register-title {
    font-size: 0.8rem;
  }

  .register-form {
    padding: 20px;
    flex-grow: 1;
  }

  .register-left {
    flex-grow: 1;
  }
}

@media screen and (max-width: 576px) {
  .register-form {
    width: 1000%;
  }

  .register-right {
    display: none;
  }
}
