/* fonts */
@font-face {
  font-family: yekan;
  src: url(/public/font/Yekan.ttf);
}
@font-face {
  font-family: titr;
  src: url(/public/font/B\ Titr\ Bold_0.ttf);
}

/* css variable */
:root {
  --gray-color: #333437;
  --btn-border-color: #9c6fe4;
  --purple-color: #925fe2;
  --login-bg-color: #1c1d21;
  --font-def: yekan;
  --font-en: archivo;
  --font-titr: titr;
}

/* default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  direction: rtl;
  background-color: #242424;
  overflow: hidden;
  color: #fff;
  font-family: yekan;
}

a {
  color: #fff;
  text-decoration: none;
}

/* app style */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* form style */
.form-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  height: auto;
  overflow: hidden;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--login-bg-color);
  width: 45%;
  padding: 60px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-title {
  font-family: var(--font-def);
  color: #fff;
  min-width: 10rem;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.form-title span {
  color: var(--gray-color);
}

.form-picture {
  width: 75%;
}

.switch-register {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.switch-register span {
  font-size: 0.7rem;
}

/* swal alert style */
.swal2-popup {
  background-color: var(--gray-color);
  color: #fff;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.swal2-confirm {
  font-family: var(--font-def);
  background-color: var(--purple-color) !important;
  border-radius: 3rem !important;
  -webkit-border-radius: 3rem !important;
  -moz-border-radius: 3rem !important;
  -ms-border-radius: 3rem !important;
  -o-border-radius: 3rem !important;
}

/* Responsive */

@media screen and (max-width: 1200px) {
  .form {
    padding: 40px;
  }

  .form-container {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .form-container {
    width: 85%;
  }

  .form {
    padding: 30px;
  }
  .switch-register span {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .form-container {
    width: 95%;
  }

  .form-title {
    font-size: 0.8rem;
  }

  .form {
    padding: 20px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 576px) {
  .form {
    width: 100%;
  }

  .register-right {
    display: none;
  }
}
